<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://moviemadness.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>moviemadness.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>moviemadness</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$moviemadness</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:zxh8jduiv4.database.windows.net,1433;AttachDbFilename=&quot;C:\Users\S\Documents\Visual Studio 2013\GroupProject\MovieMadness3\MovieMadness\MovieMadness\App_Data\aspnet-MovieMadness-20150415021035.mdf&quot;;Initial Catalog=moviemadness;Persist Security Info=True;User ID=movie@zxh8jduiv4;Password=Madness315" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MovieMadness.Data.ApplicationDbContext, MovieMadness.Data" MigrationConfiguration="MovieMadness.Data.Migrations.Configuration, MovieMadness.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:zxh8jduiv4.database.windows.net,1433;AttachDbFilename="C:\Users\S\Documents\Visual Studio 2013\GroupProject\MovieMadness3\MovieMadness\MovieMadness\App_Data\aspnet-MovieMadness-20150415021035.mdf";Initial Catalog=moviemadness;Persist Security Info=True;User ID=movie@zxh8jduiv4;Password=Madness315</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>