<br /><br />
<p style="font-size :xx-large; text-align : center; font-weight:300">About Us</p>
<p style=" text-align : center; ">
    RAMWAR (Rate A Movie Write A Review) is a movie review service by RAMRAR Media LLC.<br />
    We aim to provide users a simple way to rate and review their favoriate movies.<br />
    Here, users are able to add movies, read/write uncensored reviews, and look for movies starring their favorite actors/actress<br />
    RAMRAR Media LLC. is a Houston based website development company, founded by its' partners/programmers: <br />
    <b>Sidharth Sharma, Sherry Cuenco, Eddie Beanvides, & Russell Gallien</b><br />
    Feel free to contact us via LinkedIn or Email for any questions, concerns, and future business opportunities.
</p>
<br />
<div class="well-sm">
    <img src="../../Content/Images/11bf98f.jpg" width="200" alt="" />
    <p style="font-size : x-large; text-align : left; display : inline-block; padding-left : 80px">
        Sidharth Sharma - ASP .NET Full Stack Web Developer
        <br />
        <img src="~/Content/Images/Dakirby309-Windows-8-Metro-Web-Linked-in-alt-Metro.ico" width="20" height="20" /><a href="http://www.linkedin.com/in/sidsharma27"><strong>Sidharth Sharma's LinkedIn</strong></a>
        <img src="~/Content/Images/Dakirby309-Windows-8-Metro-Other-Mail-Metro (4).ico" width="20" height="20" /> <strong>  sidharthsharma27@hotmail.com</strong>
    </p>
</div>
<br />
<div class="well-sm">
    <img src="../../Content/Images/Sherry.jpg" alt="" width="200" height="200" />
    <p style="font-size : x-large; text-align : left; display : inline-block; padding-left : 80px">
        Sherry Cuenco - ASP .NET Full Stack Web Developer
        <br />
        <img src="~/Content/Images/Dakirby309-Windows-8-Metro-Web-Linked-in-alt-Metro.ico" width="20" height="20" /><a href="http://www.linkedin.com/in/sherrychristycuenco"><strong>Sherry Cuenco's LinkedIn</strong></a>
        <img src="~/Content/Images/Dakirby309-Windows-8-Metro-Other-Mail-Metro (4).ico" width="20" height="20" /> <strong>  sjcuenco@rocketmail.com</strong>
    </p>
</div>
<br />

<div class="well-sm">
    <img src="../../Content/Images/eddie.jpg" alt="" width="200" height="200" />
    <p style="font-size : x-large; text-align : left; display : inline-block; padding-left : 80px">
        Eddie Beanvides - ASP .NET Full Stack Web Developer
        <br />
        <img src="~/Content/Images/Dakirby309-Windows-8-Metro-Web-Linked-in-alt-Metro.ico" width="20" height="20" /><a href="https://www.linkedin.com/in/eddiebenavides"><strong>Eddie Beanvides's LinkedIn</strong></a>
        <img src="~/Content/Images/Dakirby309-Windows-8-Metro-Other-Mail-Metro (4).ico" width="20" height="20" /> <strong>  cyre0512@gmail.com</strong>
    </p>
</div>
<br />

<div class="well-sm">
    <img src="../../Content/Images/Russell.jpg" width="200" height="200" alt="" />
    <p style="font-size : x-large; text-align : left; display : inline-block; padding-left : 80px">
        Russell Gallien - ASP .NET Full Stack Web Developer
        <br />
        <img src="~/Content/Images/Dakirby309-Windows-8-Metro-Web-Linked-in-alt-Metro.ico" width="20" height="20" /><a href="http://www.linkedin.com/pub/russell-gallien/57/6a1/b90"><strong>Russell Gallien's LinkedIn</strong></a>
        <img src="~/Content/Images/Dakirby309-Windows-8-Metro-Other-Mail-Metro (4).ico" width="20" height="20" />  <strong>  trio.davinci@gmail.com</strong>
    </p>
</div>

<link href="~/Content/superhero.bootstrap.css" rel="stylesheet" />